$primary-color: hsl(171, 66%, 44%);
$secondary-color: hsl(233, 100%, 69%);
$footer-color: hsl(220, 18%, 97%);
$body-color: hsl(201, 11%, 66%);
$headings-color: hsl(210, 10%, 33%);
$font-family: "Bai Jamjuree", sans-serif;
$font-size: 1.125rem;
$line-height: 1.6;
$background-mobile: hsl(0, 0%, 100%) url("/images/bg-header-mobile.png") no-repeat center top;
$background-desktop: hsl(0, 0%, 100%) url("/images/bg-header-desktop.png") no-repeat center top;